@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(230, 230, 230);
  margin-right: 20px;
}
::-webkit-scrollbar-thumb {
  background: rgb(179, 174, 174);
  border-radius: 10px;
}
